* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f6f9ff;
}

.assistant-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

/* Main Layout */
.main-section {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px);
}

.A-main-content {
  flex: 1;
  display: flex;
  padding: 24px;
  gap: 20px;
  overflow: hidden;
  height: calc(100vh - 60px);
}

.assistant-panel {
  flex: 2;
  background: white;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  flex-shrink: 0;
}

.table-container {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}


.panel-title {
  font-size: 16px;
  font-weight: 600;
}

table {
  width: 100%;
  border-spacing: 0 12px;
}

thead th {
  text-align: center !important;
  vertical-align: middle;
  text-align: left;
  font-size: 13px;
  color: #888;
  padding: 8px 6px;
}

tbody td {
  text-align: center;
  vertical-align: middle;
  background-color: #f0f4fa;
  padding: 10px;
  border-radius: 0px;
}

.table-placeholder {
  height: 36px;
  background: #dfe7f3;
  border-radius: 8px;
}

/* Right Panel */
.A-right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  padding-right: 10px;
}

.print-reports {
  background-color: #04B4FC;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.print-reports:hover {
  background-color: #91c3d7;
}

.A-user-info-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 12px 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 0px;
  height: 64px;
}

.A-user-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.A-user-avatar {
  width: 40px;
  height: 40px;
  background-color: #dbeafe;
  border-radius: 50%;
}

.A-user-username {
  font-size: 15px;
  font-weight: 600;
  color: #1f2937;
}