* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.login-left {
  flex: 1.2;
  padding: 100px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.login-form {
  width: 100%;
  max-width: 450px;
  padding: 20px;
}

.login-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1E1E3F;
}

.login-subtitle {
  font-size: 14px;
  margin-bottom: 30px;
  color: #888;
}

.login-label {
  display: block;
  font-size: 14px;
  margin: 12px 0 6px;
  color: #444;
}

.login-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 16px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

.login-input::placeholder {
  color: #aaa;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #444;
}

.forgot-password {
  font-size: 13px;
  color: #5f27cd;
  text-decoration: none;
}

.login-button {
  width: 100%;
  padding: 14px;
  margin-top: 30px;
  background-color: #4a00ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #3600cc;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.login-right {
  flex: 1;
  background: linear-gradient(135deg, #642bff, #8f00ff);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 120px;
  color: #00e0ff;
}

.login-logo {
  font-size: 40px;
  font-weight: bold;
  font-family: monospace;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-right {
    display: none;
  }

  .login-left {
    width: 100%;
    padding: 60px 20px;
  }
}
