.restock-form-container {
  padding: 1.5rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  max-width: 1000px;
  margin: 0 auto;
}

.restock-form-container h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: #333;
  text-align: center;
  height: calc(10vh - 30px);
  overflow: hidden; /* or auto / scroll depending on need */
}

.restock-form {
  display: grid;
  padding: 5%;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.restock-form input,
.restock-form select {
  padding: 0.6rem 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.95rem;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 100%;
}

.restock-form input:focus,
.restock-form select:focus {
  border-color: #04B4FC;
  outline: none;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

/* Make the cost input span both columns */
.restock-form .full-width {
  grid-column: span 2;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.form-buttons button {
  flex: 1;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.form-buttons button:first-child {
  background: #04B4FC;
  color: #fff;
  margin-right: 0.5rem;
}

.form-buttons button:first-child:hover {
  background: #91c3d7;
}

.form-buttons button:last-child {
  background: #f3f4f6;
  color: #333;
}

.form-buttons button:last-child:hover {
  background: #e5e7eb;
}

