.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-window {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 1000px;
  max-height: 70vh;
  overflow-y: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  position: relative;
  height: calc(70vh - 60px);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.restock-panel {
  flex: 2;
  background: white;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  height: calc(50vh - 30px);
}

.restock-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: -8px;
}

.restock-table th, .restock-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}



.restock-btn {
  background-color: #04B4FC;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.restock-btn:hover {
  background-color: #91c3d7;
}

.stock-low {
  color: red;
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: bold;
}

.stock-ok {
  color: green;
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: bold;
}
